.container{
    width: 80%;
    margin: auto;
}

.react-router-container{
    width: 100%;
    border: 2px solid salmon;
    padding: 20px;
    margin: 30px auto;
    border-radius: 20px;
    color: white;
    background-color: teal;
}